<!DOCTYPE html>
<html ng-app="aureaAlgorithm">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="styles/styles.css">
      <!-- Angular Material style sheet version 1.1.0 -->
      <link rel="stylesheet" href="styles/angular-material.min.css">

      <!-- Angular Material requires Angular.js Libraries version 1.5.5 -->
      <script src="scripts/angular.min.js"></script>
      <script src="scripts/angular-animate.min.js"></script>
      <script src="scripts/angular-aria.min.js"></script>
      <script src="scripts/angular-messages.min.js"></script>
      <!-- Angular Material Library version 1.1.0 -->
      <script src="scripts/angular-material.min.js"></script>

      <script src="scripts/math.min.js"></script>
      <script src="scripts/jquery.min.js"></script>


  </head>
  <body ng-controller="aureaCtrl" ng-cloak>
    <div class="header">
      <div layout="row" layout-align="center">
          <md-input-container class="md-block" flex="20">
            <label>Funcion</label>
            <input ng-model="form.function">
          </md-input-container>

          <md-input-container class="md-block" flex="10">
            <label>Xmin</label>
            <input ng-model="form.xmin">
          </md-input-container>

          <md-input-container class="md-block" flex="10">
            <label>Xmax</label>
            <input ng-model="form.xmax">
          </md-input-container>
          <md-button class="md-primary md-hue-1 botones" ng-click="iteracion(form.xmin,form.xmax,form.function)">Calcular</md-button>
          <md-button class="md-primary md-hue-1 botones" ng-click="clear()">Clear</md-button>
        </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>X1</th>
          <th>X2</th>
          <th>Xmin</th>
          <th>Xmax</th>
          <th>F(x1)</th>
          <th>F(x2)</th>
          <th>Error</th>
        </tr>
        <tbody>
        </tbody>
      </thead>
    </table>
    <script src="scripts/aurea.js"></script>
  </body>
</html>
